body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

h1{
    font-size: 60px;
}

.h1-word-color{
    color: darkred;
}
.h1-color{
    color: #3d3d3d;
}
body h2{
    color:#3d3d3d;
    font-size: 40px;
    margin-bottom: 10px;
}
.first-section-p{
    color:rgb(63, 61, 42);
}

.top-div{
    background-color: coral;
    width: 100%;
    height: 40px;
    text-align: center;
    
}
.top-button{
    text-decoration: none;
    background-color: #ff9e7b;
    padding: 0 10px;
    border-radius: 4px;
    color: cornsilk;
}


.flexible-section{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    

}
.half-width img{
    width: 70%;
    
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange ,tomato);
    padding: 10px 20px;
    border-radius: 50px;
    color: cornsilk;
    box-shadow: 0 1px 20px 0 #fabb69;
    
}

.second-section{
    display: flex;
    background-image: url(images/shapes/background.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
.second-section-image{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 100px;
    
}

.about-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange ,tomato);
    padding: 10px 20px;
    border-radius: 50px;
    color: cornsilk;
    box-shadow: 0 1px 20px 0 #fabb69;
    
}

.about-us-p{
    margin-top: 60px;
    margin-right: 200px;
}

.h1-products{
    text-align: center;
}

footer{
    background-color: black;
    height: 200px;
    text-align: center;
    width: 100%;
}

.footer-food{
    color: #ff8f0e;
    
}
.footer-home{
    color:#494949;
}
.footer-p{
    color: white;
}

.footer-div{
    margin-top: 50px;
    padding-top: 30px;
    font-size: 30px;
}

.product-container{
display: flex;
}
.container{
    width: 30%;
    margin:10px;
    padding-left: 8%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 40px;
    padding:7%
}
.product-container img{
    height: 200px;
    width: 100;
    position: relative;
    padding-left: 2%;
    border-radius: 50px;
    padding-top: 5%;
    
}